<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.evcharging.mobile">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="EVApp"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <activity
            android:name=".OwnerEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingConfirmationActivity"
            android:exported="false" />
        <activity android:name=".OwnerBookingsActivity" />
        <activity android:name=".ChargingHistoryActivity" />
        <activity android:name=".OwnerBookingDetailsActivity" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".BookingDetailsActivity" />
        <activity
            android:name=".AllBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorUpdateSlotsActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
